{
  "openapi": "3.1.0",
  "info": {
    "title": "Scavio Search API",
    "version": "1.0.0",
    "description": "Real-time structured search over Google, YouTube, Amazon, Walmart, Reddit, TikTok, and Instagram."
  },
  "servers": [
    {
      "url": "https://api.scavio.dev"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Scavio API key, sent as 'Authorization: Bearer <key>'."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/v1/google": {
      "post": {
        "tags": [
          "Google"
        ],
        "summary": "Google Search (deprecated)",
        "description": "DEPRECATED. Retires 2026-08-04; use POST /api/v2/google (richer results, 1 credit). See https://scavio.dev/docs/google-v1-to-v2-migration.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "pizza new york"
                  },
                  "country_code": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2,
                    "default": "us",
                    "example": "us",
                    "description": "ISO 3166-1 alpha-2 country code"
                  },
                  "language": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 5,
                    "default": "en",
                    "example": "en",
                    "description": "Language code (e.g. en, fr, de)"
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100,
                    "default": 1,
                    "example": 1,
                    "description": "Page number (default 1)"
                  },
                  "search_type": {
                    "type": "string",
                    "enum": [
                      "classic",
                      "news",
                      "maps",
                      "images",
                      "lens"
                    ],
                    "default": "classic",
                    "example": "classic",
                    "description": "Type of Google search"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile"
                    ],
                    "example": "desktop",
                    "description": "Device type for search results"
                  },
                  "nfpr": {
                    "type": "boolean",
                    "example": false,
                    "description": "Disable autocorrection when true"
                  },
                  "light_request": {
                    "type": "boolean",
                    "example": false,
                    "description": "Set to false for full results (2 credits). Omit for light mode (1 credit)."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "top_stories": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "news_results": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "knowledge_graph": {
                      "nullable": true
                    },
                    "local_results": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "map_results": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "related_searches": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "related_queries": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "nullable": true
                      }
                    },
                    "meta_data": {
                      "nullable": true
                    },
                    "page": {
                      "type": "number"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "query",
                    "results",
                    "top_stories",
                    "page",
                    "country_code",
                    "language",
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter combination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/search": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Search",
        "description": "Search YouTube videos, channels, and playlists.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "360": {
                    "type": "boolean"
                  },
                  "search": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "python tutorial"
                  },
                  "upload_date": {
                    "type": "string",
                    "enum": [
                      "last_hour",
                      "today",
                      "this_week",
                      "this_month",
                      "this_year"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "channel",
                      "playlist",
                      "movie"
                    ]
                  },
                  "duration": {
                    "type": "string",
                    "enum": [
                      "short",
                      "medium",
                      "long"
                    ]
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "date",
                      "view_count",
                      "rating"
                    ]
                  },
                  "features": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "360",
                        "hd",
                        "4k",
                        "subtitles",
                        "creative_commons",
                        "live",
                        "3d",
                        "hdr",
                        "vr180"
                      ]
                    },
                    "description": "Feature filters"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor from a previous response"
                  },
                  "hd": {
                    "type": "boolean"
                  },
                  "4k": {
                    "type": "boolean"
                  },
                  "subtitles": {
                    "type": "boolean"
                  },
                  "creative_commons": {
                    "type": "boolean"
                  },
                  "live": {
                    "type": "boolean"
                  },
                  "3d": {
                    "type": "boolean"
                  },
                  "hdr": {
                    "type": "boolean"
                  },
                  "vr180": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "search"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/shorts": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Shorts Search",
        "description": "Search YouTube Shorts.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "funny cats"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "date",
                      "view_count",
                      "rating"
                    ]
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "search"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Shorts Search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/suggestions": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Search Suggestions",
        "description": "Autocomplete suggestions for a query.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "python"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  },
                  "region": {
                    "type": "string",
                    "example": "US"
                  }
                },
                "required": [
                  "search"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Search Suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/video": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Video Details",
        "description": "Full details for a single video.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ",
                    "description": "Video id or watch URL"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Video Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/metadata": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Video Metadata (deprecated)",
        "description": "Deprecated alias of /api/v1/youtube/video.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ",
                    "description": "Video id or watch URL"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Video Metadata (deprecated)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/comments": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Video Comments",
        "description": "Top-level comments for a video.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Video Comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/comments/replies": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Comment Replies",
        "description": "Replies to a specific comment.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ"
                  },
                  "reply_cursor": {
                    "type": "string",
                    "minLength": 1,
                    "description": "reply_cursor from a comment in the comments endpoint"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "video_id",
                  "reply_cursor"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Comment Replies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/transcript": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Transcript",
        "description": "Transcript/captions for a video (plain text or timed srt).",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "text",
                      "srt"
                    ],
                    "description": "text (plain) or srt (timed)"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Transcript",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/related": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Related Videos",
        "description": "Videos related to a given video.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Related Videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel/search": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Search",
        "description": "Search for channels.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "mrbeast"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "search"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Details",
        "description": "Channel profile and about info.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "UCX6OQ3DkcsbYNE6H8uQQuVA",
                    "description": "Channel id, @handle, or URL"
                  }
                },
                "required": [
                  "channel_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel/videos": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Videos",
        "description": "A channel's uploaded videos.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "UCX6OQ3DkcsbYNE6H8uQQuVA",
                    "description": "Channel id, @handle, or URL"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "channel_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel/shorts": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Shorts",
        "description": "A channel's Shorts.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "UCX6OQ3DkcsbYNE6H8uQQuVA",
                    "description": "Channel id, @handle, or URL"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "channel_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Shorts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel/community": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Community",
        "description": "A channel's community posts.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "UCX6OQ3DkcsbYNE6H8uQQuVA",
                    "description": "Channel id, @handle, or URL"
                  },
                  "cursor": {
                    "type": "string"
                  }
                },
                "required": [
                  "channel_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Community",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/channel/resolve": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Channel Resolve",
        "description": "Resolve a channel @handle or URL to its id.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel": {
                    "type": "string",
                    "minLength": 1,
                    "example": "@MrBeast",
                    "description": "A channel @handle or URL to resolve to an id"
                  }
                },
                "required": [
                  "channel"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Channel Resolve",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/youtube/streams": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "YouTube Video Streams",
        "description": "Direct playable/downloadable stream URLs for a video.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "video_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "dQw4w9WgXcQ"
                  }
                },
                "required": [
                  "video_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "YouTube Video Streams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/amazon/search": {
      "post": {
        "tags": [
          "Amazon"
        ],
        "summary": "Amazon Product Search",
        "description": "Search Amazon products and get structured results.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "wireless headphones"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Amazon domain suffix. Defaults to com (United States).",
                    "example": "com"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile",
                      "tablet"
                    ],
                    "description": "Device type"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "most_recent",
                      "price_low_to_high",
                      "price_high_to_low",
                      "featured",
                      "average_review",
                      "bestsellers"
                    ],
                    "description": "Sort order for results"
                  },
                  "start_page": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Starting page number"
                  },
                  "pages": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Number of pages to return"
                  },
                  "category_id": {
                    "type": "string",
                    "description": "Amazon category ID"
                  },
                  "merchant_id": {
                    "type": "string",
                    "description": "Amazon merchant ID"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "ZIP code for localized results"
                  },
                  "autoselect_variant": {
                    "type": "boolean",
                    "description": "Auto-select product variant"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/amazon/product": {
      "post": {
        "tags": [
          "Amazon"
        ],
        "summary": "Amazon Product Details",
        "description": "Get details for an Amazon product by ASIN.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "example": "B09V3KXJPB",
                    "description": "Amazon ASIN"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Amazon domain suffix. Defaults to com (United States).",
                    "example": "com"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile",
                      "tablet"
                    ],
                    "description": "Device type"
                  },
                  "zip_code": {
                    "type": "string",
                    "description": "ZIP code for localized results"
                  },
                  "autoselect_variant": {
                    "type": "boolean",
                    "description": "Auto-select product variant"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/walmart/search": {
      "post": {
        "tags": [
          "Walmart"
        ],
        "summary": "Walmart Product Search",
        "description": "Search Walmart products and get structured results.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "wireless headphones"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Walmart domain"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile",
                      "tablet"
                    ],
                    "description": "Device type"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "best_match",
                      "price_low",
                      "price_high",
                      "best_seller"
                    ],
                    "description": "Sort order for results"
                  },
                  "start_page": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Starting page number"
                  },
                  "min_price": {
                    "type": "integer",
                    "description": "Minimum price filter"
                  },
                  "max_price": {
                    "type": "integer",
                    "description": "Maximum price filter"
                  },
                  "fulfillment_speed": {
                    "type": "string",
                    "enum": [
                      "today",
                      "tomorrow",
                      "2_days",
                      "anytime"
                    ],
                    "description": "Fulfillment speed filter"
                  },
                  "fulfillment_type": {
                    "type": "string",
                    "enum": [
                      "in_store"
                    ],
                    "description": "Fulfillment type filter"
                  },
                  "delivery_zip": {
                    "type": "string",
                    "description": "Delivery ZIP code"
                  },
                  "store_id": {
                    "type": "string",
                    "description": "Walmart store ID"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/walmart/product": {
      "post": {
        "tags": [
          "Walmart"
        ],
        "summary": "Walmart Product Details",
        "description": "Get details for a Walmart product by product ID.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_id": {
                    "type": "string",
                    "minLength": 1,
                    "example": "123456789",
                    "description": "Walmart product ID"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Walmart domain"
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile",
                      "tablet"
                    ],
                    "description": "Device type"
                  },
                  "delivery_zip": {
                    "type": "string",
                    "description": "Delivery ZIP code"
                  },
                  "store_id": {
                    "type": "string",
                    "description": "Walmart store ID"
                  }
                },
                "required": [
                  "product_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reddit/search": {
      "post": {
        "tags": [
          "Reddit"
        ],
        "summary": "Reddit Search",
        "description": "Search Reddit posts and get structured results.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "serpapi"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "posts",
                      "comments"
                    ],
                    "default": "posts",
                    "description": "Type of search results",
                    "example": "posts"
                  },
                  "sort": {
                    "type": "string",
                    "enum": [
                      "new",
                      "relevance",
                      "hot",
                      "top",
                      "comments"
                    ],
                    "default": "new",
                    "description": "Sort order for results",
                    "example": "new"
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor from previous response"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "searchQuery": {
                          "type": "string"
                        },
                        "totalResults": {
                          "type": "number"
                        },
                        "nextCursor": {
                          "type": "string",
                          "nullable": true
                        },
                        "posts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "position": {
                                "type": "number"
                              },
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "subreddit": {
                                "type": "string"
                              },
                              "author": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string"
                              },
                              "nsfw": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "position",
                              "id",
                              "title",
                              "url",
                              "subreddit",
                              "author",
                              "timestamp",
                              "nsfw"
                            ]
                          }
                        }
                      },
                      "required": [
                        "searchQuery",
                        "totalResults",
                        "nextCursor",
                        "posts"
                      ]
                    },
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Upstream provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
[...]
