{
  "openapi": "3.1.0",
  "info": {
    "title": "Scavio Search API",
    "version": "1.0.0",
    "description": "Real-time structured search over Google, YouTube, Amazon, Walmart, Reddit, TikTok, TikTok Shop, Instagram, X and LinkedIn. 98 billable endpoints plus two free ones. Google runs on POST /api/v2/google and its 13 verticals; the v1 path /api/v1/google was retired on 2026-08-04 and returns 410. The 5 retired LinkedIn endpoints (person/contact, company/people, company/jobs, search/people, search/posts) always return 410 unbilled and are deliberately not listed. Every endpoint's credit cost is on the x-credits field of its operation.",
    "contact": {
      "name": "Scavio",
      "url": "https://scavio.dev",
      "email": "scavio.dev@gmail.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://scavio.dev/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.scavio.dev"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Google",
      "description": "Google v2 SERP and verticals: web search, AI Mode, Maps, Shopping, Flights, Hotels, News and Trends. 1 credit each. Responses are FLAT (no data wrapper) and carry organic_results[].link / .snippet."
    },
    {
      "name": "YouTube",
      "description": "YouTube search, video, comments, transcript, channel and stream data."
    },
    {
      "name": "Amazon",
      "description": "Amazon product search, product detail and seller offers. Marketplace is selected with a two-letter country code."
    },
    {
      "name": "Walmart",
      "description": "Walmart product search and product detail."
    },
    {
      "name": "Reddit",
      "description": "Reddit search, posts, comments, subreddit and user feeds."
    },
    {
      "name": "TikTok",
      "description": "TikTok profiles, videos, comments, hashtags and search."
    },
    {
      "name": "TikTok Shop",
      "description": "TikTok Shop product search, product detail, reviews, categories, shop listings and URL resolution."
    },
    {
      "name": "Instagram",
      "description": "Instagram profiles, posts, reels, stories, comments and search. Credits vary per endpoint."
    },
    {
      "name": "X",
      "description": "X (Twitter) search, posts, replies, user profiles, timelines and trends."
    },
    {
      "name": "LinkedIn",
      "description": "LinkedIn people, companies, posts, comments and jobs. Credits vary per endpoint."
    },
    {
      "name": "Account",
      "description": "Credit balance and usage. Free."
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Scavio API key, sent as 'Authorization: Bearer <key>'."
      }
    }
  },
  "paths": {
    "/api/v2/google": {
      "post": {
        "operationId": "google_search",
        "tags": [
          "Google"
        ],
        "summary": "Google SERP search (organic results, ads, and the AI Overview when present).",
        "description": "Google SERP search (organic results, ads, and the AI Overview when present).. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query (1-500 characters)."
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile"
                    ],
                    "description": "Device to emulate."
                  },
                  "start": {
                    "type": "integer",
                    "description": "Result offset: 0 = page 1, 10 = page 2, ... up to 990."
                  },
                  "include_html": {
                    "type": "boolean",
                    "description": "Include the raw Google HTML in the response."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  },
                  "location": {
                    "type": "string",
                    "description": "Canonical location name; auto-encoded to a UULE string."
                  },
                  "uule": {
                    "type": "string",
                    "description": "Pre-encoded UULE location string (takes priority over location)."
                  },
                  "lr": {
                    "type": "string",
                    "description": "Language restrict (e.g. 'lang_en')."
                  },
                  "cr": {
                    "type": "string",
                    "description": "Country restrict (e.g. 'countryUS')."
                  },
                  "safe": {
                    "type": "string",
                    "enum": [
                      "active"
                    ],
                    "description": "SafeSearch filter."
                  },
                  "nfpr": {
                    "type": "boolean",
                    "description": "Disable spelling correction / auto-fixes when True."
                  },
                  "filter": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "description": "'0' disables the omitted/similar-results filter."
                  },
                  "time_period": {
                    "type": "string",
                    "enum": [
                      "last_hour",
                      "last_day",
                      "last_week",
                      "last_month",
                      "last_year"
                    ],
                    "description": "Restrict results to a recent time window."
                  },
                  "resolve_ai_overview": {
                    "type": "boolean",
                    "description": "Resolve a deferred AI Overview (server default True)."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google SERP search (organic results, ads, and the AI Overview when present).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/ai-mode": {
      "post": {
        "operationId": "google_ai_mode",
        "tags": [
          "Google"
        ],
        "summary": "Google AI Mode conversational answer with references.",
        "description": "Google AI Mode conversational answer with references.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Question or prompt (1-500 characters)."
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile"
                    ],
                    "description": "Device to emulate."
                  },
                  "include_html": {
                    "type": "boolean",
                    "description": "Include the raw Google HTML in the response."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  },
                  "location": {
                    "type": "string",
                    "description": "Canonical location name; auto-encoded to a UULE string."
                  },
                  "uule": {
                    "type": "string",
                    "description": "Pre-encoded UULE location string (takes priority over location)."
                  },
                  "safe": {
                    "type": "string",
                    "enum": [
                      "active"
                    ],
                    "description": "SafeSearch filter."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google AI Mode conversational answer with references.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/maps/search": {
      "post": {
        "operationId": "google_maps_search",
        "tags": [
          "Google"
        ],
        "summary": "Google Maps local business results.",
        "description": "Google Maps local business results.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query (1-500 characters)."
                  },
                  "start": {
                    "type": "integer",
                    "description": "Result offset; must be a multiple of 20 (0, 20, 40, ...)."
                  },
                  "ll": {
                    "type": "string",
                    "description": "Map center as '@lat,lng,zoomz'; controls where results come from."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Maps local business results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/maps/place": {
      "post": {
        "operationId": "google_maps_place",
        "tags": [
          "Google"
        ],
        "summary": "Google Maps place details. Provide place_id or data_cid.",
        "description": "Google Maps place details. Provide place_id or data_cid.. Costs 1 credit. Provide exactly one of: place_id, data_cid. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "place_id": {
                    "type": "string",
                    "description": "Place ID (ChIJ...)."
                  },
                  "data_cid": {
                    "type": "string",
                    "description": "Numeric CID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Maps place details. Provide place_id or data_cid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/maps/reviews": {
      "post": {
        "operationId": "google_maps_reviews",
        "tags": [
          "Google"
        ],
        "summary": "Google Maps reviews for a place. Provide data_id or place_id.",
        "description": "Google Maps reviews for a place. Provide data_id or place_id.. Costs 1 credit. Provide exactly one of: data_id, place_id. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data_id": {
                    "type": "string",
                    "description": "Data ID (0xHEX:0xHEX)."
                  },
                  "place_id": {
                    "type": "string",
                    "description": "Place ID (ChIJ...)."
                  },
                  "num": {
                    "type": "integer",
                    "description": "Reviews per page (1-20)."
                  },
                  "next_page_token": {
                    "type": "string",
                    "description": "Pagination cursor from a prior response."
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "relevance",
                      "newest",
                      "highest_rating",
                      "lowest_rating"
                    ],
                    "description": "Sort order."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Maps reviews for a place. Provide data_id or place_id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/shopping": {
      "post": {
        "operationId": "google_shopping",
        "tags": [
          "Google"
        ],
        "summary": "Google Shopping product listings.",
        "description": "Google Shopping product listings.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Product search query (1-500 characters)."
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile"
                    ],
                    "description": "Device to emulate."
                  },
                  "start": {
                    "type": "integer",
                    "description": "Result offset."
                  },
                  "min_price": {
                    "type": "integer",
                    "description": "Minimum price filter."
                  },
                  "max_price": {
                    "type": "integer",
                    "description": "Maximum price filter."
                  },
                  "sort_by": {
                    "type": "integer",
                    "description": "0 = relevance, 1 = price ascending, 2 = price descending."
                  },
                  "free_shipping": {
                    "type": "boolean",
                    "description": "Only items with free shipping."
                  },
                  "on_sale": {
                    "type": "boolean",
                    "description": "Only items on sale."
                  },
                  "shoprs": {
                    "type": "string",
                    "description": "Opaque Google Shopping filter token."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  },
                  "location": {
                    "type": "string",
                    "description": "Canonical location name; auto-encoded to a UULE string."
                  },
                  "uule": {
                    "type": "string",
                    "description": "Pre-encoded UULE location string (takes priority over location)."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Shopping product listings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/shopping/product": {
      "post": {
        "operationId": "google_shopping_product",
        "tags": [
          "Google"
        ],
        "summary": "Google Shopping product detail and sellers. Pass catalog_id + query for full data.",
        "description": "Google Shopping product detail and sellers. Pass catalog_id + query for full data.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "catalog_id": {
                    "type": "string",
                    "description": "Durable product catalog id."
                  },
                  "query": {
                    "type": "string",
                    "description": "Product query; required when catalog_id is set."
                  },
                  "immersive_product_page_token": {
                    "type": "string",
                    "description": "Immersive product page token."
                  },
                  "page_token": {
                    "type": "string",
                    "description": "Alias for immersive_product_page_token."
                  },
                  "product_id": {
                    "type": "string",
                    "description": "Product id."
                  },
                  "device": {
                    "type": "string",
                    "enum": [
                      "desktop",
                      "mobile",
                      "tablet"
                    ],
                    "description": "Device to emulate."
                  },
                  "google_domain": {
                    "type": "string",
                    "description": "Regional Google domain (e.g. 'google.co.uk')."
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "base_price",
                      "total_price",
                      "promotion",
                      "seller_rating"
                    ],
                    "description": "Seller sort order."
                  },
                  "load_all_stores": {
                    "type": "boolean",
                    "description": "Load all available stores."
                  },
                  "more_stores": {
                    "type": "boolean",
                    "description": "Fetch additional stores."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "location": {
                    "type": "string",
                    "description": "Canonical location name; auto-encoded to a UULE string."
                  },
                  "uule": {
                    "type": "string",
                    "description": "Pre-encoded UULE location string (takes priority over location)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Shopping product detail and sellers. Pass catalog_id + query for full data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/shopping/product/stores": {
      "post": {
        "operationId": "google_shopping_stores",
        "tags": [
          "Google"
        ],
        "summary": "More sellers for a shopping product (pagination of shopping_product).",
        "description": "More sellers for a shopping product (pagination of shopping_product).. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "catalog_id": {
                    "type": "string",
                    "description": "Durable product catalog id."
                  },
                  "next_page_token": {
                    "type": "string",
                    "description": "Pagination cursor from shopping_product."
                  }
                },
                "required": [
                  "catalog_id",
                  "next_page_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "More sellers for a shopping product (pagination of shopping_product).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/flights": {
      "post": {
        "operationId": "google_flights",
        "tags": [
          "Google"
        ],
        "summary": "Google Flights search.",
        "description": "Google Flights search.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "departure_id": {
                    "type": "string",
                    "description": "Departure IATA code(s); comma-separated allowed."
                  },
                  "arrival_id": {
                    "type": "string",
                    "description": "Arrival IATA code(s); comma-separated allowed."
                  },
                  "outbound_date": {
                    "type": "string",
                    "description": "Outbound date (YYYY-MM-DD)."
                  },
                  "type": {
                    "type": "integer",
                    "description": "1 = round trip, 2 = one way, 3 = multi-city."
                  },
                  "return_date": {
                    "type": "string",
                    "description": "Return date (YYYY-MM-DD); required when type=1."
                  },
                  "adults": {
                    "type": "integer",
                    "description": "Number of adults (1-9)."
                  },
                  "children": {
                    "type": "integer",
                    "description": "Number of children (0-9)."
                  },
                  "infants_in_seat": {
                    "type": "integer",
                    "description": "Infants in seat (0-4)."
                  },
                  "infants_on_lap": {
                    "type": "integer",
                    "description": "Infants on lap (0-4)."
                  },
                  "travel_class": {
                    "type": "integer",
                    "description": "1 = economy, 2 = premium, 3 = business, 4 = first."
                  },
                  "stops": {
                    "type": "integer",
                    "description": "0 = any, 1 = nonstop, 2 = <=1 stop, 3 = <=2 stops."
                  },
                  "sort_by": {
                    "type": "integer",
                    "description": "1 = top, 2 = price, 3 = departure, 4 = arrival, 5 = duration, 6 = emissions."
                  },
                  "include_airlines": {
                    "type": "string",
                    "description": "Comma-separated airline codes/alliances to include."
                  },
                  "exclude_airlines": {
                    "type": "string",
                    "description": "Comma-separated airline codes/alliances to exclude."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217, e.g. 'USD')."
                  }
                },
                "required": [
                  "departure_id",
                  "arrival_id",
                  "outbound_date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Flights search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/hotels": {
      "post": {
        "operationId": "google_hotels",
        "tags": [
          "Google"
        ],
        "summary": "Google Hotels search.",
        "description": "Google Hotels search.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query; use a '<City> hotels' form."
                  },
                  "check_in_date": {
                    "type": "string",
                    "description": "Check-in date (YYYY-MM-DD)."
                  },
                  "check_out_date": {
                    "type": "string",
                    "description": "Check-out date (YYYY-MM-DD)."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217, e.g. 'USD')."
                  },
                  "sort_by": {
                    "type": "integer",
                    "description": "3 = lowest price, 8 = highest rating, 13 = most reviewed."
                  },
                  "min_price": {
                    "type": "integer",
                    "description": "Minimum nightly price."
                  },
                  "max_price": {
                    "type": "integer",
                    "description": "Maximum nightly price."
                  },
                  "rating": {
                    "type": "integer",
                    "description": "7 = 3.5+, 8 = 4.0+, 9 = 4.5+."
                  },
                  "hotel_class": {
                    "type": "string",
                    "description": "Comma-separated star ratings (2-5)."
                  },
                  "amenities": {
                    "type": "string",
                    "description": "Comma-separated amenity ids."
                  },
                  "property_types": {
                    "type": "string",
                    "description": "Comma-separated property-type ids (e.g. '12' for vacation rentals)."
                  },
                  "free_cancellation": {
                    "type": "boolean",
                    "description": "Only properties with free cancellation."
                  },
                  "eco_certified": {
                    "type": "boolean",
                    "description": "Only eco-certified properties."
                  },
                  "special_offers": {
                    "type": "boolean",
                    "description": "Only properties with special offers."
                  },
                  "next_page_token": {
                    "type": "string",
                    "description": "Pagination cursor from a prior response."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Number of properties to return (1-20)."
                  }
                },
                "required": [
                  "query",
                  "check_in_date",
                  "check_out_date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Hotels search.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/hotels/detail": {
      "post": {
        "operationId": "google_hotels_detail",
        "tags": [
          "Google"
        ],
        "summary": "Google Hotels property details, from a hotels listing detail_token.",
        "description": "Google Hotels property details, from a hotels listing detail_token.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "detail_token": {
                    "type": "string",
                    "description": "Property detail token from a hotels listing."
                  },
                  "check_in_date": {
                    "type": "string",
                    "description": "Check-in date (YYYY-MM-DD)."
                  },
                  "check_out_date": {
                    "type": "string",
                    "description": "Check-out date (YYYY-MM-DD)."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code (ISO 4217, e.g. 'USD')."
                  },
                  "gl": {
                    "type": "string",
                    "description": "Country of the search (ISO 3166-1 alpha-2, e.g. 'us')."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  }
                },
                "required": [
                  "detail_token",
                  "check_in_date",
                  "check_out_date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Google Hotels property details, from a hotels listing detail_token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Flat response: the provider payload is spread at the top level, there is no data key.",
                  "additionalProperties": true,
                  "properties": {
                    "response_time": {
                      "type": "number"
                    },
                    "credits_used": {
                      "type": "number"
                    },
                    "credits_remaining": {
                      "type": "number"
                    },
                    "cached": {
                      "type": "boolean",
                      "description": "True when served from the v2 cache. Cached responses still bill."
                    }
                  },
                  "required": [
                    "response_time",
                    "credits_used",
                    "credits_remaining"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Out of credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate, concurrency or usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "used": {
                      "type": "number"
                    },
                    "plan": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream data source unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/google/news": {
      "post": {
        "operationId": "google_news",
        "tags": [
          "Google"
        ],
        "summary": "Google News results. Provide a query or a topic/story/publication token.",
        "description": "Google News results. Provide a query or a topic/story/publication token.. Costs 1 credit. Google v2. The response is flat (no data wrapper) and results are organic_results[] with link and snippet. `start` is a 0-based result offset, not a page number.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-credits": 1,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Keyword search."
                  },
                  "topic_token": {
                    "type": "string",
                    "description": "Browse a news topic."
                  },
                  "section_token": {
                    "type": "string",
                    "description": "Browse a topic section."
                  },
                  "story_token": {
                    "type": "string",
                    "description": "Fetch full coverage of a story."
                  },
                  "publication_token": {
                    "type": "string",
                    "description": "Browse a publication."
                  },
                  "kgmid": {
                    "type": "string",
                    "description": "Knowledge Graph entity id."
                  },
                  "hl": {
                    "type": "string",
                    "description": "UI language (ISO 639-1, e.g. 'en')."
                  },
                  "gl": {
                    "type": "string",
[...]
